.image-container {
	position: relative;
	display: inline-block; /* Sesuai ukuran gambar */
}

.image-container img {
	display: block;
	width: 100%; /* Bisa disesuaikan */
	height: auto;
}

.change-image-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.6); /* Transparan hitam */
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.change-image-btn:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.round-110 {
	z-index: 0; /* Pastikan lebih tinggi dari banner */
}

.profile-container {
	position: relative;
	display: inline-block;
}

.profile-img {
	width: 110px;  /* Sesuaikan ukuran */
	height: 110px;
	border-radius: 50%;
	border: 4px solid white;
	object-fit: cover;
}

.change-profile-btn {
	position: absolute;
	bottom: 0; /* Letakkan di bagian bawah */
	left: 50%;
	transform: translateX(-50%) translateY(25%); /* Geser 25% ke bawah */
	background-color: rgba(0, 0, 0, 0.6); /* Background semi transparan */
	color: white;
	border: none;
	padding: 6px 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.change-profile-btn:hover {
	background-color: rgba(0, 0, 0, 0.8);
}