RewriteEngine On
RewriteBase /

# Larang akses ke direktori dan subdirektorinya
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [F,L]

# Atur izin untuk file
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]